---
import Tickets from '../pages/tickets.astro';

const shows = [
  {
    title: 'Improv Central Fall Edition',
    dates: 'September 27 @ 7:33 PM',
    location: 'FHC Auditorium',
    image: '/images/improv-fall-2025-logo.png',
    link: '/improv',
  },
  {
    title: 'The Crucible',
    dates: 'November 13 - 15 @ 7:00 PM',
    location: 'FHC Auditorium',
    image: '/images/crucible/crucible-logo.jpg',
    link: '/play',
  },
  {
    title: 'Random Acts of Talent 26',
    dates: ' TBA',
    location: 'FH Fine Arts Center',
    image: '/images/show-rat-new.jpg',
    link: '/rat',
  },
  {
    title: 'Something Rotten',
    dates: 'March 19 - 21 @ 7:00 PM; March 21 @ 3:00 PM',
    location: 'FHC Fine Arts Center',
    image: '/images/something-rotten-logo.jpg',
    link: '/musical',
  },
  {
    title: 'Improv Central Spring Edition',
    dates: 'May 2 @ 7:33 PM',
    location: 'FHC Auditorium',
    image: '/images/improv-central-logo.jpg',
    link: '/improv',
  },
];
---

<section class="showLineup">
  <h3>2025-26 Show Lineup</h3>
  <div class="showList">
    {
      shows.map((show) => (
        <a href={show.link} class="show">
          <img src={show.image} alt={show.title} height="150px" />
          <div class="showInfo">
            <div class="showName">{show.title}</div>
            <div class="showDates">{show.dates}</div>
            <div class="showLocation">{show.location}</div>
          </div>
        </a>
      ))
    }
  </div>
  <style>
    .showLineup {
      margin-top: 2em;
    }
    h3 {
      color: var(--primary);
      text-align: center;
    }
    .showList {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
    }
    .show {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 1em;
      justify-content: start;
      align-items: center;
      width: 100%;
    }
    .show img {
      width: 225px;
    }
    .showInfo {
      display: grid;
      grid-template-rows: 1fr 1fr;
    }
    .showName {
      font-size: var(--h4);
      font-weight: 600;
      color: var(--black);
      align-content: end;
      justify-self: center;
    }
    .showDates,
    .showLocation {
      align-content: center;
      justify-self: center;
      color: var(--primary);
    }
    .imageList {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      width: 100%;
      align-items: center;
    }
    .imageHolder {
      position: relative;
      width: 100%;
      text-align: start;
    }
    .imageHolder .caption {
      opacity: 0;
      position: absolute;
      bottom: 1.5rem;
      left: 0;
      height: 100px;
      max-width: 80%;
      padding: 1rem 2rem;
      color: var(--white);
      background-color: var(--primary);
      text-align: center;
      font-size: var(--h3);
      display: grid;
      align-items: center;
      justify-content: flex-start;
      transition: opacity 0.7s ease-in-out;
    }
    .imageHolder:hover .caption {
      opacity: 1;
    }

    @media screen and (min-width: 870px) {
      .imageList {
        flex-direction: row;
      }
      .show {
        display: grid;
        grid-template-columns: auto 1fr;
      }
      .showName,
      .showDates,
      .showLocation {
        align-content: start;
        justify-self: start;
      }
    }
  </style>
</section>
