---
import Tickets from '../pages/tickets.astro';

const shows = [
  {
    title: 'Improv Central Fall Edition',
    dates: 'November 2 @ 7:03 PM',
    image: '/images/improv-fall-2024-logo.png',
    link: '/improv',
  },
  {
    title: 'Alice in Wonderland',
    dates: 'November 14 - 16 @ 7:00 PM, November 16 @ 3:00 PM',
    image: '/images/alice-logo.png',
    link: '/play',
  },
  {
    title: 'Random Acts of Talent 25',
    dates: ' January 25 @ 7:00 PM',
    image: '/images/show-rat-new.jpg',
    link: '/rat',
  },
  {
    title: 'Peter Pan',
    dates: 'March 21-23 @ 7:00 PM; March 23 @ 3:00 PM',
    image: '/images/peterpan-logo.png',
    link: '/musical',
  },
  {
    title: 'Improv Central Spring Edition',
    dates: 'April 27 @ 7:33 PM',
    image: '/images/improv-spring-square.jpg',
    link: '/improv',
  },
];
---

<section class="showLineup">
  <h3>2024 Show Lineup</h3>
  <div class="showList">
    {
      shows.map((show) => (
        <a href={show.link} class="show">
          <img src={show.image} alt={show.title} height="150px" />
          <div class="showInfo">
            <div class="showName">{show.title}</div>
            <div class="showDates">{show.dates}</div>
          </div>
        </a>
      ))
    }
  </div>
  <style>
    .showLineup {
      margin-top: 2em;
    }
    h3 {
      color: var(--primary);
      text-align: center;
    }
    .showList {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
    }
    .show {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1em;
      padding: 1em;
      justify-content: start;
      width: 100%;
    }
    .show img {
      width: 225px;
    }
    .showInfo {
      display: grid;
      grid-template-rows: 1fr 1fr;
    }
    .showName {
      font-size: var(--h4);
      font-weight: 600;
      color: var(--black);
      align-content: end;
    }
    .showDates {
      align-content: start;
      color: var(--primary);
    }
    .imageList {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      width: 100%;
      align-items: center;
    }
    .imageHolder {
      position: relative;
      width: 100%;
      text-align: start;
    }
    .imageHolder .caption {
      opacity: 0;
      position: absolute;
      bottom: 1.5rem;
      left: 0;
      height: 100px;
      max-width: 80%;
      padding: 1rem 2rem;
      color: var(--white);
      background-color: var(--primary);
      text-align: center;
      font-size: var(--h3);
      display: grid;
      align-items: center;
      justify-content: flex-start;
      transition: opacity 0.7s ease-in-out;
    }
    .imageHolder:hover .caption {
      opacity: 1;
    }

    @media screen and (min-width: 870px) {
      .imageList {
        flex-direction: row;
      }
    }
  </style>
</section>
